name: Release - Build, Test, Package, and Push

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
  
  build-test-pack-push:
    needs: release-please
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required to obtain the ID token from GitHub Actions
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # all

      - name: Build, Test, Pack, and Deploy (Release)
        uses: ./.github/actions/build-test-pack-deploy