name: Release build

on:
  push:
    branches:
      - main

env:
  OCTOPUS_SPACE: "Developer Experience"

jobs:
  release-please:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          target-branch: main
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

    outputs:
      release_created: ${{ steps.release.outputs.release_created }}

  test-build-and-publish-release:
    needs: release-please
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required to obtain the ID token from GitHub Actions
      contents: read
    if: ${{ fromJSON(needs.release-please.outputs.release_created || false) }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # all

      - name: Build, Test, Pack, and Deploy (Release)
        uses: ./.github/actions/build-test-pack-deploy
        with:
          octopus-url: ${{ secrets.OCTOPUS_URL }}
